body {
  font-family: Source Sans Pro, sans-serif;
  background: #f3f3f3 url(https://www.ic2s2.org/assets/css/images/overlay.png);
  margin: 0;
  padding: 0;
}


.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.session-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.session-time {
  font-weight: bold;
}

.session-room {
  margin-bottom: 50px;
  font-weight: bold;
}


.presentation-list {
  list-style-type: none;
  padding: 0;
  margin-top:20px;

}

.presentation-list li {
  margin-bottom: 10px;
}

.back-link {
  margin-top: 20px;
  text-align: center;
}

.back-link a {
  color: #333;
  text-decoration: none;
}

.back-link a:hover {
  text-decoration: underline;
}


/* Existing CSS styles */

.presentation-item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start; /* Align items at the top */
}

.time {
  font-weight: bold;
  width: 80px; /* Adjust the width as needed */
  text-align: right; /* Right-align the time */
  padding-right: 10px; /* Add some spacing between the time and title */
  line-height: 1.3; /* Adjust line height for better alignment */
  margin-bottom: 10px; /* Add bottom margin for spacing */

}

.presentation-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the top */
  flex: 1; /* Distribute remaining space evenly */
  margin-bottom: 10px; /* Add bottom margin for spacing between title and presenter */

}

.authors {
  margin-top: 0; /* Remove margin for better alignment */
  font-style: italic;
  color: gray;
}

.title {
  font-weight: bold;
  margin-bottom: 10px; /* Remove bottom margin for better alignment */

}

.abstract {
  margin-bottom: 10px; /* Adjust the desired spacing */
}

.bio {
  margin-top: 10px; /* Adjust the desired spacing */
}


/* Mobile styles */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px; /* Add some padding for better spacing */
  }

  .session-title {
    font-size: 20px; /* Adjust the font size for smaller screens */
    margin-bottom: 30px; /* Increase the margin for better spacing */
  }

  .session-time, .session-room {
    font-size: 15px; /* Adjust the font size for smaller screens */
  }

  .presentation-list {
    margin-top: 10px; /* Adjust the margin for better spacing */
  }

  .presentation-item {
    margin-bottom: 15px; /* Adjust the margin for better spacing */
  }

  .time {
    width: 60px; /* Adjust the width for smaller screens */
    font-size: 12px; /* Adjust the font size for smaller screens */
  }

  .presentation-info {
    margin-left: 10px; /* Add some left margin for better spacing */
  }

  .title {
    font-size: 14px; /* Adjust the font size for smaller screens */
    margin-bottom: 5px; /* Decrease the margin for better spacing */
  }

  .abstract {
    margin-bottom: 5px; /* Decrease the margin for better spacing */
  }

  .bio {
    margin-top: 5px; /* Decrease the margin for better spacing */
  }

  .back-link {
    margin-top: 15px; /* Adjust the margin for better spacing */
  }
}