body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Add border-radius to container */
  overflow: hidden; /* Hide overflow to prevent the light gray border */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.container h1,
.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container ul {
  list-style-type: none;
  padding-left: 0;
}

#day-select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 1.2em;
}

#session-table {
  margin: auto;
  width: fit-content;
  white-space: nowrap;
  border-spacing: 10px;
  border-collapse: separate;
}

#session-table th,
#session-table td {
  padding: 10px;
  text-align: center;
  border-spacing: 10px;
  border-collapse: separate;
  border-radius: 10px; /* Add rounded corners */
  border: 1px solid #ddd;
  min-width: 50px;
  width:10%;
}

#session-table th {
  background-color: transparent; /* Remove the background color */
  color: #000; /* Set the text color to black */
}

#session-table td:nth-child(1) {
  color: #333;
  font-weight: bold;
  text-align: right;
}



a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #4caf50;
}

.session-cell {
  cursor: pointer;
}

.session-cell:hover {
  background-color: #f0f0f0;
}

.session-cell:hover .session-title {
  text-decoration: underline;
  color: #f0f0f0;
}

/* Existing CSS styles */

#search-form {
  margin-bottom: 20px;
}

#search-input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
}

/* Mobile-specific styles */

@media screen and (max-width: 768px) {
  .container {
    overflow-x: scroll;
  }

  #session-table {
    min-width: 800px;
  }
}
