body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

#tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.tab.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
}

#agenda-content,
#search-content {
  padding: 10px;
}

#agenda-content table {
  margin: 20px auto;
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
  overflow-x: auto; /* Enable horizontal scrolling */
}

#agenda-content th,
#agenda-content td {
  padding: 10px;
  text-align: center;
  border-spacing: 10px;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid #ddd;
}

#agenda-content th {
  background-color: transparent;
  color: #000;
  font-size: 16px;
}

#agenda-content td:nth-child(1) {
  color: #333;
  font-weight: bold;
  text-align: right;
}

#search-form {
  margin-bottom: 20px;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#search-results {
  margin-top: 20px;
}

.search-result {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.session-details {
  margin-bottom: 10px;
}

.presentation-details {
  margin-top: 10px;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .container {
    margin: 10px;
    padding: 5px;
  }

  .container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #agenda-content table {
    font-size: 14px;
  }

  #agenda-content th {
    font-size: 14px;
  }
}
