body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Add border-radius to container */
  overflow: hidden; /* Hide overflow to prevent the light gray border */
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

#day-select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 1.2em;
}

/* Update the session-table CSS */

#session-table {
  margin: auto;
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;

}

#session-table th,
#session-table td {
  padding: 10px;
  text-align: center;
  background-color: #fff; /* Set background color to white */
  border-spacing: 10px;
  border-collapse: separate;
  border-radius: 10px; /* Add rounded corners */
  border: 1px solid #ddd;

}

#session-table th {
  background-color: transparent; /* Remove the background color */
  color: #000; /* Set the text color to black */
}

#session-table td:nth-child(1) {
  color: #333;
  font-weight: bold;
  text-align: right;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #4CAF50;
}


